<div class="question-wrapper d-flex">
  <div class="side-bar">
    <div class="dataview-side-bar">
      <p-dataView [value]="questionsNum" layout="grid">
        <ng-template pTemplate="header">
          <div id="time-left" class="d-flex justify-content-center">
            Thời gian còn lại: <strong class="ms-4">00:00:00</strong> 
          </div>
        </ng-template>
        <ng-template let-question pTemplate="gridItem">
          <div class="col-12 md:col-3">
            <div class="question-grid-item card mx-1 my-1">
                <div [class]="(question.isFlag ? ('flag ') : (question.isAnswer ? 'answered ' : 'not-answer ')) + 'question-grid-item-top d-flex justify-content-center'" >
                    <span class="question-no text-center">{{question.no}}</span>
                </div>
                <div class="question-grid-item-content d-flex flex-wrap">
                    <div class="question-answer w-100 text-center">{{question.answer}}</div>
                </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <button class="myBtn">Nộp bài sớm</button>
        </ng-template>
      </p-dataView>
    </div>
  </div>
  <div class="question">
    
  </div>
</div>