<div class="nav-wrapper d-flex position-fixed">
    <div>

        <button class="btn lesson-btn"
        (click)="select_first()" 
        [ngClass]="{'selected-first' : selected_nav[0], 'non-selected' : !selected_nav[0]}">
            <fa-icon [icon]="faBookOpen" class="fa-2xl"></fa-icon>
            <div class="mt-1">Bài học</div>
        </button>

        <button class="btn try-test-btn"
        (click)="select_second()" 
        [ngClass]="{'selected-second' : selected_nav[1], 'non-selected' : !selected_nav[1]}">
            <fa-icon [icon]="faSquareCheck" class="fa-2xl"></fa-icon>
            <div class="mt-1">Thi thử</div>
        </button>

        <button class="btn learn-btn"
        (click)="select_third()" 
        [ngClass]="{'selected-third' : selected_nav[2], 'non-selected' : !selected_nav[2]}">
            <fa-icon [icon]="faBook" class="fa-2xl"></fa-icon>
            <div class="mt-1">Ôn tập</div>
        </button>

        <button class="btn statistic-btn pr-1"
        (click)="select_fourth()" 
        [ngClass]="{'selected-fourth' : selected_nav[3], 'non-selected' : !selected_nav[3]}">
            <fa-icon [icon]="faChartSimple" class="fa-2xl"></fa-icon>
            <div class="mt-1 text-nowrap">Thống kê</div>
        </button>

    </div>
</div>

