<div class="header-wrapper container">
    <div class="row h-100 w-100">
        <div class="col d-flex align-items-center" (click)="toLesson()">
            <img src="https://i.ibb.co/N679qxd/logo.png" alt="" class="logo align-middle ms-2">
        </div>

        <div class="col-md-9 d-flex align-items-center justify-content-center">
            <div class="p-input-icon-left d-flex ">
                <i class="pi pi-search" style="font-weight: 700;"></i>
                <input type="text" pInputText placeholder="Tìm kiếm" class="rounded" />
            </div>
        </div>

        <div class="col d-flex align-items-center">
            <fa-icon [icon]="faUserGraduate" class="fa-2x" style="color: rgba(0, 0, 0, 0.3)"></fa-icon>
            <p style="margin: 0px 0px 0px 15px; 
            font-family: 'Gentium Book Basic';
            font-weight: 500;
            font-size: 20px;">Hoàng Phúc</p>
        </div>
    </div>
</div>

