:host ::ng-deep{
    margin: 0;
    overflow-y: hidden;

    .p-breadcrumb{
        padding-inline: 10rem;
        background-color: transparent;

        ul li .p-menuitem-link .p-menuitem-text{
            color: var(--secondary);
    
            font-family: 'Gentium Book Basic';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
        }

        ul li:last-child .p-menuitem-text{
            color: var(--primary);
        }
    }
}

.exam-confirm-wrapper{
    padding-bottom: 150px;
}

.exam-confirm-banner{
    width: 85%;
    min-width: 900px;
    height: 400px;
    background: var(--math);
    border-radius: 15px;

    font-family: 'Gentium Book Basic';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;

    color: #FFFFFF;
}

.exam-info{
    font-family: 'Gentium Book Basic';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.exam-history{
    padding-inline: 20rem;

    font-family: 'Gentium Book Basic';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}